{% extends 'base.html' %}
{% block body %}
{% load static %}
  <!--  ************************* Page Title Starts Here ************************** -->
        
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>Our Blog</h2>
                <ul>
                    <li> <a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> Blog</li>
                </ul>
            </div>
        </div>
    </div>
    
    
   
<!-- ################# Our Blog Starts Here#######################--->

    <section class="our-blog">
         	<div class="container">
        		<div class="blog-row row">
        			<div class="blog-row row">
                    {% for blog in blog_obj %}
        			<div class="col-md-4 col-sm-6">
        				<div class="single-blog">
        					<figure>
        						<img src="{{blog.image.url}}" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By {{blog.author}} | {{blog.timestamp}}</small>
								<h4>{{blog.title | safe}}</h4>
								{{blog.content | safe | slice:':222'}}
								<form method="post">
								<div class="link">
									<a type="submit" href="{% url 'blogdetails' blog.id %}">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
								</div>
								</form>
        					</div>
        				</div>
        			</div>
                    {% endfor %}
        		</div>
        		</div>
         	</div>

		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				{% if blog_obj.has_previous %}
				<li class="page-item enabled">
				 <a class="page-link" href="?page=1">First</a>
			    </li>
			    <li class="page-item enabled">
				 <a class="page-link" href="?page={{blog_obj.previous_page_number}}">Previous</a>
			    </li>
			  {% endif %}
				{% for page in total_page %}
			  <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
				{% endfor %}
			  {% if blog_obj.has_next %}
				<li class="page-item">
				<a class="page-link" href="?page={{last_page}}">Last</a>
			  </li>
			  <li class="page-item">
				<a class="page-link" href="?page={{blog_obj.next_page_number}}">Next</a>
			  </li>
			  {% endif %}
			</ul>
		  </nav>
         </section>
{% endblock %}