{% extends 'base.html' %}
{% block body %}
{% load static %}
 
  <!--  ************************* Page Title Starts Here ************************** -->
        
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>Our Gallery</h2>
                <ul>
                    <li> <a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> Gallery</li>
                </ul>
            </div>
        </div>
    </div>
    
    
   
 <!--  ************************* Gallery Starts Here ************************** -->
    <div id="portfolio" class="gallery">
        <div class="container">
            <div class="row">
            {% for item in gallery_obj %}
            <div class="gallery_product col-lg-3 col-md-3 col-sm-4 col-xs-6 filter hdpe">
                <img src="{{item.image.url}}" class="img-responsive">
            </div>
            {% endfor %}
        </div>
        <nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				{% if gallery_obj.has_previous %}
				<li class="page-item enabled">
				 <a class="page-link" href="?page=1">First</a>
			    </li>
			    <li class="page-item enabled">
				 <a class="page-link" href="?page={{gallery_obj.previous_page_number}}">Previous</a>
			    </li>
			  {% endif %}
				{% for page in total_page %}
			  <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
				{% endfor %}
			  {% if gallery_obj.has_next %}
				<li class="page-item">
				<a class="page-link" href="?page={{last_page}}">Last</a>
			  </li>
			  <li class="page-item">
				<a class="page-link" href="?page={{team_obj.next_page_number}}">Next</a>
			  </li>
			  {% endif %}
			</ul>
		  </nav>
    </div>
    </div>
        <!-- ######## Gallery End ####### -->    
{% endblock %}