{% extends 'base.html' %}
{% block body %}    
{% load static %}


  <!-- ******************** Slider Starts Here ******************* -->
    <div class="slider">
        <!-- Set up your HTML -->
        <div class="owl-carousel ">
        {% for item in carousel_obj %}
            <div class="slider-img">
                <div class="item">
                <div class="slider-img"><img src="{{item.carousel_img.url}}" alt=""></div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions ">
                                <h1 class="slider-title">{{item.title}}</h1>
                                <p class="slider-text hidden-xs">{{item.sub_title}}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
    </div>

 <!--  ************************* About Us Starts Here ************************** -->    
       
<div class="about-us container-fluid">
    <div class="container">
        {% for item in about_obj %}
        <div class="row natur-row no-margin w-100">
            <div class="text-part col-md-6">
                <h2>{{item.title | safe}}</h2>
                {{item.desc | safe | slice:":555"}}
                <div class="link">
                    <a class="text-success" href="{% url 'aboutus' %}">Read more </a>
                </div>
            </div>
            <div class="image-part col-md-6">
                <div class="about-quick-box row">
                    <div class="col-md-6">
                        <a href="{% url 'contactus' %}">
                        <div class="about-qcard">
                           <i class="fas fa-user"></i>
                            <p>Becom a Volunteer</p>
                        </div>
                        </a>
                    </div>
                     <div class="col-md-6">
                         <a href="{% url 'donateus' %}">
                        <div class="about-qcard ">
                           <i class="fas fa-search-dollar red"></i>
                            <p>Quick Fundrais</p>
                        </div>
                         </a>
                    </div>
                     <div class="col-md-6">
                         <a href="{% url 'donateus' %}">
                        <div class="about-qcard ">
                           <i class="fas fa-donate yell"></i>
                            <p>Giv Donation</p>
                        </div>
                         </a>
                    </div>
                     <div class="col-md-6">
                         <a href="{% url 'contactus' %}">
                        <div class="about-qcard ">
                           <i class="fas fa-hands-helping blu"></i>
                            <p>Help Someone</p>
                        </div>
                         </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>     
   
   
    
 <!-- ################# Mission Vision Start Here #######################--->
  
  <section class="container-fluid mission-vision">
      <div class="container">
          {% for mission in mission_obj %}
          <div class="row mission">
              <div class="col-md-6 mv-det">
                  <h1>{{mission.title | safe}}</h1>
                  {{mission.desc | safe | slice:":333"}}
                  <div class="link">
                      <a class="text-success" href="{% url 'aboutus' %}">Read more </a>
                  </div>
                  </div>
              <div class="col-md-6 mv-img">
                  <img src="{{mission.image1.url}}" alt="">
              </div>
          </div>
          {% endfor %}

          {% for vision in vision_obj %}
          <div class="row vision">
              <div class="col-md-6 mv-img">
                   <img src="{{vision.image1.url}}" alt="">
              </div>
              <div class="col-md-6 mv-det">
                   <h1>{{vision.title | safe}}</h1>
                  {{vision.desc | safe | slice:":333"}}
                  <div class="link">
                      <a class='text-success' href="{% url 'aboutus' %}">Read more </a>
                  </div>
                   </div>
          </div>
          {% endfor %}
      </div>
  </section>   
   

    
     <!-- ################# Events Start Here#######################--->
    <section class="events">
        <div class="container">
            <div class="session-title row">
                <h2>Popular Causes</h2>
                <p>We are a non-profital & Charity raising money for child education</p> 
            </div>
            <div class="event-ro row">
                {% for service in service_obj %}
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="{{service.image.url}}" alt="">
                        <h4>{{service.title | safe}}</h4>
                        <p class="desic">{{service.sub_title | safe}}</p>
                        <a href="{% url 'donateus' %}">
                        <button class="btn btn-success btn-sm">Donate Now</button>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
             <div class="link-success center">
                 <a class="text-success" href="{% url 'services' %}">More Services </a>
             </div>
        </div>
    </section>
         
    <!--################### Our Team Starts Here #######################--->
          <section class="our-team team-11">
            <div class="container">
                <div class="session-title row">
                      <h2>Meet our Team</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fringilla vel nisl a dictum. Donec ut est arcu. Donec hendrerit velit</p>
                </div>
                <div class="row team-row">
                    {% for team in team_obj %}
                    <div class="col-md-3 col-sm-6">
                        <form method="post">
                        <a href="{% url 'teamdetailscard' team.id %}">
                        <div class="single-usr">
                            <img src="{{team.image.url}}" alt="">
                            <div class="det-o">
                                <h4>{{team.name | safe}}</h4>
                                <i>{{team.designation}}</i>
                                <br>
                            </div>
                        </div>
                        </a>
                        </form>
                    </div>
                    {% endfor %}
                </div>
                <div class="link center">
                    <a class="text-success" href="{% url 'teams' %}">More Team Members </a>
                </div>
            </div>
        </section>      
         
          
    
    <!-- ################# Our Blog Starts Here#######################--->

    <section class="our-blog">
         	<div class="container">
         		<div class="row session-title">
        			<h2> Our Blog </h2>
        			<p>Take a look at what people say about US </p>
        		</div>
        		<div class="blog-row row">
                    {% for blog in blog_obj %}
        			<div class="col-md-4 col-sm-6">
        				<div class="single-blog">
        					<figure>
        						<img src="{{blog.image.url}}" alt="">
        					</figure>
        					<div class="blog-detail">
        						<small>By {{blog.author}} | {{blog.timestamp}}</small>
								<h4>{{blog.title | safe}}</h4>
								{{blog.content | safe | slice:':222'}}
                                <form method="post">
								<div class="link">
									<a type="submit" href="{% url 'blogdetails' blog.id %}">Read more </a><i class="fas fa-long-arrow-alt-right"></i>
								</div>
                                </form>
        					</div>
        				</div>
        			</div>
                    {% endfor %}
        		</div>
                <div class="link center">
                    <a class="text-success" href="{% url 'blog' %}">More Blogs</a>
                </div>
         	</div>
         </section>

{% endblock %}
