{% extends 'base.html' %}
{% block body %}
{% load static %} 
  <!--  ************************* Page Title Starts Here ************************** -->
        
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>Popular Causes</h2>
                <ul>
                    <li> <a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> Services</li>
                </ul>
            </div>
        </div>
    </div>
    
    
   
  <!-- ################# Events Start Here#######################--->
    <section class="events">
        <div class="container">
           
            <div class="event-ro row">
                {% for item in service_obj %}
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="{{item.image.url}}" alt="">
                        <h4>{{item.title | safe}}</h4>
                        <p class="desic">{{item.sub_title}}</p>
                        <a href="{% url 'donateus' %}">
                        <button class="btn btn-success btn-sm">Donate Now</button>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				{% if service_obj.has_previous %}
				<li class="page-item enabled">
				 <a class="page-link" href="?page=1">First</a>
			    </li>
			    <li class="page-item enabled">
				 <a class="page-link" href="?page={{service_obj.previous_page_number}}">Previous</a>
			    </li>
			  {% endif %}
				{% for page in total_page %}
			  <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
				{% endfor %}
			  {% if service_obj.has_next %}
				<li class="page-item">
				<a class="page-link" href="?page={{last_page}}">Last</a>
			  </li>
			  <li class="page-item">
				<a class="page-link" href="?page={{service_obj.next_page_number}}">Next</a>
			  </li>
			  {% endif %}
			</ul>
		  </nav>
    </section>   
{% endblock %}