{% extends 'dashboard/add-base.html' %}
{% block add %}
<div class="head">
	<h3>Add New Payment Detail</h3>
</div>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
	  <div class="form-group">
		<label for="main-title">Bank Name</label>
		<input type="text" class="form-control" id="main-title" placeholder="" name="name"">
		  </div>
		  <div class="form-group">
		<label for="holder">Account Holder Name</label>
		<input type="text" class="form-control" id="holder" placeholder="" name="holder-name">
		  </div>
		  <div class="form-group">
		<label for="account">Account Number</label>
		<input type="text" class="form-control" id="account" placeholder="" name="acc-no">
		  </div><div class="form-group">
		<label for="ifsc">IFSC Code</label>
		<input type="text" class="form-control" id="ifsc" placeholder="" name="ifsc">
		  </div><div class="form-group">
		<label for="upiid">UPI Id</label>
		<input type="text" class="form-control" id="upiid" placeholder="" name="upi-id">
		  </div>
		<div class="form-group">
			<label>Upload New QrCode</label>
		  <div class="form-group">
		  </div>
			<input type="file" class="form-control-file" name="upload">
		</div>
		<div class="h-100 d-flex align-items-center justify-content-center">
		<div class="form-group center">
			<button type="submit" class="btn btn-primary">SAVE</button>
		</div>
		</div>
	</form>
{% endblock %}
