{% extends 'dashboard/base.html' %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block content %}
    <div id="content" class="p-4 p-md-5">
        <h2 class="mb-4">
            <div class="session-title row">
                <h2>Edit About Page</h2>
            </div>
        </h2>
        <table class="table">
              <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Title</th>
                  <th scope="col">Content</th>
                  <th scope="col">Edit / Delete</th>
                </tr>
              </thead>
              <tbody>
               {% for obj in abt_obj %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                    <td>{{obj.title | slice:':30'}}</td>
                    <td>{{obj.desc | slice:'5:49'}}</td>
                  <td>
                      <a href="{% url 'aboutedit' obj.id %}">
                      <button type="submit" class="btn btn-warning" ><i class="fa-solid fa-pen-to-square"></i></i></button>
                       </a>
                       <a href="{% url 'aboutdelete' obj.id %}">
                      <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                       </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
    </div>
    <div class="container">
        <nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				{% if abt_obj.has_previous %}
				<li class="page-item enabled">
				 <a class="page-link" href="?page=1">First</a>
			    </li>
			    <li class="page-item enabled">
				 <a class="page-link" href="?page={{abt_obj.previous_page_number}}">Previous</a>
			    </li>
			  {% endif %}
				{% for page in total_page %}
			  <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
				{% endfor %}
			  {% if abt_obj.has_next %}
				<li class="page-item">
				<a class="page-link" href="?page={{last_page}}">Last</a>
			  </li>
			  <li class="page-item">
				<a class="page-link" href="?page={{abt_obj.next_page_number}}">Next</a>
			  </li>
			  {% endif %}
			</ul>
		  </nav>
    </div>
{% endblock %}